#content{
	position: relative;
	max-width: 794px;
	max-height: 606px;
	margin: 0 auto;
}

.top{
	position: relative;
	background-color: white;
	max-height: 130px;
}

.top1{
	position: absolute;
	top: 12px;
	right: 150px;
}

.middle{
	position: relative;
	max-height: 389px;
	background-color: white;
	padding:15px;
	padding-bottom: 0px
}

.midright{
	position: absolute;
	top: 0px;
	right: 0px;
	padding-right: 15px;
	padding-top: 15px;
}

.mltop{
	position: relative;
	left: 0px
	height: 226px;
	width: 365px;
	padding-bottom: 8px; 

}

.mlb-1{
	position: relative;
	height: 165px;
	width: 336px;
}

.mlb-2{
	position: relative;
	top :-182px;
	left :107;
}

.bottom{
	background-color: white;
	max-height: 90px;
}

.btl{
	position: relative;
	left: 15px;
}
.btr{
	position: relative;
	left: 274px;
	bottom: 84px;
	
}

h1{
	position: relative;
	font-size: 58;
	font-family: Britannic;
	color: #630585;
	left:48px;
}

h2{
	position: relative;
	font-size: 15;
	color: #99FFCC;
	left:224px;
	top:-46px;
}

h3{
	font-size: 16px;
	color: white;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 0px;
}

h4{
	font-size: 48px;
	color: white;
	padding-left: 10px;
	position: absolute;
	top: -20px;
}

h5{
	font-size: 20px;
	color: white;
	padding-left: 138px;
	position: absolute;
	top: 17px;
}

h6{
	font-size: 20px;
	color: white;
	padding-left: 135px;
	position: absolute;
	top: 22px;
}

h7{
	font-size: 10px;
	color: #9F9CB9;
	position: relative;
	top: 10px;
	left: 17px;

}

h8{
	font-size: 14px;
	color: #A49F8C;
	position: relative;
	bottom: 49px;
	left:40px;
	padding: 18px;
}

h9{
	font-size: 16px;
	font-weight: bold;
	color: white;
	position: relative;
	left: 8px;
	top: -36px;
}

h10{
	font-size: 11px;
	color: white;
	position: relative;
	top: -32px;
	right:-123px;
}

h11{
	font-size: 10px;
	color: white;
	position: relative;
	top: -31px;
	left: 115px;
}

h12{
	font-size: 10px;
	color: white;
	position: relative;
	bottom: 129px;
	left: 312px;
}